.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form-group{
    margin-top: 10px;
    width: 500px;
}
.form-control{
    border:0.1rem solid darkcyan;
}
.btn{
    margin-top: 25px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
}
.alert{
    padding:0.5px;
    font-size:1rem;
}
.alert{
    color: red;
}
.select{
    width:500px;
    height: 40px;
    border-radius: 7.5px;
    border:0.1rem solid darkcyan;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
select:focus, option:focus {
    outline: none;
}
.numbercode{
    width:90px;
    height: 40px;
    border-radius: 7.5px;
    border:0.1rem solid darkcyan;
    margin-right: 10px;
}
.number{
    width:400px;
    height: 40px;
    border-radius: 7.5px;
    border:0.1rem solid darkcyan;
    
}
